.post {
    width: 300px;
    height: 200px;
    background-color: #c2f5bf;
    border-radius: 10px;
    margin-top: 20px;
}

.post-header {
    height: 40px;
    font-size: 20px;
    font-weight: 600;
}

.post-mail {
    height: 20px;
    font-size: 17px;
}

.post-text {
    height: max-content;
    max-height: 180px;
    overflow: hidden;
    margin: 10px 20px;
    letter-spacing: 0.05em;
    line-height: 150%;
}

.post-status {
    font-size: 20px;
}